<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Reduction stat +50%</string>
	<string>Avoid stat +65%</string>
	<string>Reduce 1 cooldown </string>
	<string>Create shield</string>
	<string>Great power</string>
	<string>Healing</string>
	<string>Reflect</string>
	<string>Refresh</string>
</array>
</plist>
